doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title CandyLand - About Us
    link(rel='stylesheet', href='CSS/style.css')
  body
    header
      nav
        ul
          li
            a(href='/') Home
          li
            a(href='/products') Products
          li
            a(href='#') About
          li
            a(href='/contact') Contact

    main
      h1 About CandyLand
      p We are a candy store dedicated to bringing joy and sweetness to your life. With a wide variety of candies and treats, we aim to satisfy your sugar cravings!

    footer
      p © 2023 CandyLand. All rights reserved.